<footer class="bg-light container-fluid p-4">
  <div class="row">
    <div class="col-lg lh-1 fs-6">
      <p>Terms & Conditions</p>
      <address>1200 Henry st, Sydney, NSW, Australia</address>
      <p>ABN: 2359834734</p>
    </div>
    <div class="col-lg text-lg-end fs-1">
      <a href="*" class="icon-link me-1"
        ><i class="bi bi-facebook link-hover-light"></i
      ></a>
      <a href="*" class="icon-link me-1"><i class="bi bi-instagram"></i></a>
      <a href="*" class="icon-link"><i class="bi bi-twitter"></i></a>
    </div>
  </div>
</footer>
