<!-- Pricing section -->
<div class="container">
  <div class="card-deck mb-3 text-center row">
    <div class="card my-4 mt-5 m-lg-3 p-0 box-shadow col-lg">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Free</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$0</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>1 free yoga session on us</li>
          <li>Can be used at any location</li>
          <li>Promotion can only be used for new starters</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">
          Check Out
        </button>
      </div>
    </div>
    <div class="card my-4 m-lg-3 p-0 box-shadow col-lg">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Per Class</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">
          $15 <small class="text-muted"></small>
        </h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>For users who are interesed in paying as you go</li>
          <li>Can be used at any one of our locations</li>
          <li></li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary">
          Purchase
        </button>
      </div>
    </div>
    <div class="card my-4 m-lg-3 p-0 box-shadow col-lg">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Per Month</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">
          $79 <small class="text-muted">/ mo</small>
        </h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>
            For the heavy Yogee, total access to all classes at all locations
          </li>
          <li>for the month selected</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary">
          purchase
        </button>
      </div>
    </div>
    <div class="card my-4 m-lg-3 p-0 box-shadow col-lg">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Per Bundle</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$50</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>5 classes included in the bundle</li>
          <li>all classes at all locations included</li>
          <li></li>
          <li></li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary">
          Contact us
        </button>
      </div>
    </div>
  </div>
</div>
